<template>
  <header class="header">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <nuxt-link
                class="navbar-item" 
                :to="{name: 'index'}">
          <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
        </nuxt-link>

        <div role="button" class="navbar-burger burger" @click="isMenuActive = !isMenuActive">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </div>
      </div>

      <div class="navbar-menu" 
            :class="{'is-active': isMenuActive}">
        <div class="navbar-start">
          <div v-for="(item, index) in menu" :key="'menu-link-' + index" 
                class="navbar-item"
                :class="{ 'has-dropdown is-hoverable' : item.sub}">
            <nuxt-link
                class="navbar-link" 
                :class="{'is-arrowless': !item.sub}"
                :to="{name: item.name}">
              {{item.text}}
            </nuxt-link>
            <div class="navbar-dropdown">
              <nuxt-link
                  v-for="(item2, index2) in item.sub" :key="'menu-link-' + index2" 
                  class="navbar-item" 
                  :to="{name: item2.name}">
                {{item2.text}}
              </nuxt-link>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <div v-if="!!user" class="navbar-item has-dropdown is-hoverable b-dropdown-right a-user">
            <nuxt-link
                class="navbar-link is-arrowless"
                :to="{name: 'profile', params: {id: user.id} }">
              <figure class="image is-32x32">
                <img class="is-rounded a-user__image " :src="user.img?user.img:'https://bulma.io/images/placeholders/128x128.png'">
              </figure>
              {{ user.name?user.name:user.email}}
            </nuxt-link>
            <div class="navbar-dropdown navbar-dropdown">
              <!-- <nuxt-link
                  v-for="(item2, index2) in item.sub" :key="'menu-link-' + index2" 
                  class="navbar-item" 
                  :to="{name: item2.name}">
                {{item2.text}}
              </nuxt-link>
              -->
              <div class="navbar-item" v-for="i in 5" :key="i">
                test {{i}}
              </div>
              
              <hr class="navbar-divider">
              <button type="button" 
                  class="button is-light" 
                  @click="LogOut()">
                Выход
              </button>
            </div>
          </div>
          <div v-else class="navbar-item">
            <div class="buttons">
              <button type="button" 
                  class="button is-primary"
                  @click="SetModal('RegEmail')">
                <strong>Регистрация</strong>
              </button>
              <button type="button" 
                  class="button is-light" 
                  @click="SetModal('LoginEmail')">
                Вход
              </button>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
</template>
<script>
  import { mapState, mapActions } from 'vuex'
  export default {
    data (){
      return  {
        isMenuActive: false,
        menu : [
          {
            name: 'blog',
            text: 'Блог',
          },
          {
            name: 'index',
            text: 'Меню с подменю',
            sub: [
              {
                name: 'index',
                text: 'Test 1',
              },
              {
                name: 'index',
                text: 'Test 2',
              },
              {
                name: 'index',
                text: 'Test 3',
                sub: [
                  {
                    name: 'index',
                    text: 'Test 3 1',
                  },
                  {
                    name: 'index',
                    text: 'Test 3 2',
                  },
                  {
                    name: 'index',
                    text: 'Test 3 3',
                  },
                ]
              },
            ]
          }
        ],
        // isRegModalActive: false,
        // isEnterModalActive: false,
      }
    },
    computed: {
      ...mapState('user', ['user'])
    },
    methods: {
      ...mapActions('modal', ['SetModal']),
      ...mapActions('user', ['LogOut']),
      
    }
  }
</script>

<style lang="sass">
.a-user
  &__image
    max-height: unset !important

@media screen and (max-width: 1023px)
  .navbar-menu.is-active
    position: absolute
    right: 0
    width: 100%
    max-width: 420px
</style>

