<template>
    <div>
        <template v-for="(item, index) in value">
            <b-field 
                    v-if="item.type!='checkbox'"
                    :label="item.label"
                    :message="item.message"
                    :key="index">
                <b-input 
                    :type="item.type"
                    :v-model="item.value"
                    :placeholder="item.placeholder"
                    :maxlength="item.maxlength?item.maxlength:30"
                    :password-reveal="item.type=='password'"
                    :icon="item.icon"
                    :rounded="item.rounded"
                    :disabled="item.disabled"
                    :loading="item.loading"
                    :class="item.class"
                    @input="Input($event, index)"
                ></b-input>
            </b-field>
            <b-checkbox 
                    v-else
                    v-model="item.value"
                    :key="index"
                    @input="Input($event, index)">
                {{ item.label }}
            </b-checkbox>
        </template>
    </div>
</template>

<script>
export default {
    props: ['value'],
    model: {
        prop: 'value',
        event: 'change'
    },
    methods: {
        Input(val, index){
            this.value[index].value = val
            this.$emit('change', this.value)
        }
    }
}
</script>


