<template>
    <b-modal :active.sync="isModalOpen" has-modal-card>
        <component v-bind:is="currentModal">
        </component>
    </b-modal>
</template>
<script>
import { mapState, mapActions } from 'vuex'

import RegEmail from '../components/Modals/RegEmail'
import LoginEmail from '../components/Modals/LoginEmail'

export default {
    computed: {
        ...mapState('modal', ['currentModal']),
        isModalOpen:{
            get(){
                return this.currentModal == '' ? false: true;
            },
            set(val){
                if (!val) {
                    this.CloseModal();
                }
            }
            
        }
    },
    methods: {
        ...mapActions('modal', ['CloseModal'])
    },
    components:{
        'RegEmail': RegEmail,
        'LoginEmail': LoginEmail
    }
}
</script>
