<template lang="pug">
    .t-pagination.pagination.is-rounded
        nuxt-link.t-pagination__arrow.t-pagination__arrow_first(
                        v-if="(fl)&&(currentPage > max/2 +1)"
                        :to="{path: $route.path, query: Object.assign({}, $route.query, { currentPage: 1})}"
                        ) Первая
        span(v-else).t-pagination__arrow.t-pagination__arrow_first.t-pagination__arrow_disabled Первая
        nuxt-link.t-pagination__arrow.t-pagination_prev(
                        v-if="currentPage > 1"
                        :to="{path: $route.path, query: Object.assign({}, $route.query, { currentPage: currentPage - 1})}"
                        ) Предыдущая
        span(v-else).t-pagination__arrow.t-pagination_prev.t-pagination__arrow_disabled Предыдущая

        .t-pagination-list
            nuxt-link.pagination-link.t-pagination__arrow_first(
                        v-if="dots&&(currentPage > (max - max%2)/2 )"
                        :to="{path: $route.path, query: Object.assign({}, $route.query, { currentPage: currentPage - (max - max%2)/2 -1})}"
                        ) ...
            transition-group(name="fade")
                nuxt-link.t-pagination__link.pagination-link(
                        v-for="obj in range"
                        :key="'pagination'+obj.i"
                        :class="{'is-current': (obj.i == currentPage)}"
                        :to="{path: $route.path, query: Object.assign({}, $route.query, { currentPage: obj.i})}"
                        ) {{obj.i}}

            nuxt-link.pagination-link.t-pagination__arrow_first(
                        v-if="dots&&(currentPage < countPage - max/2)"
                        :to="{path: $route.path, query: Object.assign({}, $route.query, { currentPage: currentPage + (max - max%2)/2 + 1})}"
                        ) ...

        nuxt-link.t-pagination__arrow.t-pagination_prev(
                        v-if="currentPage < countPage"
                        :to="{path: $route.path, query: Object.assign({}, $route.query, { currentPage: currentPage + 1})}"
                        ) Следующая
        span(v-else).t-pagination__arrow.t-pagination_prev.t-pagination__arrow_disabled Следующая

        nuxt-link.t-pagination__arrow.t-pagination__arrow_first(
                        v-if="(fl)&&(currentPage < countPage - max/2)"
                        :to="{path: $route.path, query: Object.assign({}, $route.query, { currentPage: countPage})}"
                        ) Последняя
        span(v-else).t-pagination__arrow.t-pagination__arrow_first.t-pagination__arrow_disabled Последняя

</template>
<script>
    export default {
        data(){
            return {
                
            }
        },
        props:{
            countPage: Number,
            max: {
                type: Number,
                default: 7
            },
            fl: {
                type: Boolean,
                default: false
            },
            dots: {
                type: Boolean,
                default: false
            }
        },
        computed: {
            currentPage(){ 
                return parseInt( this.$route.query.currentPage || 1)
            },
            range(){
                let array=[], 
                j=0;
                for (let i = -this.max; i < this.max; i++) {
                    if ( (this.currentPage + i  > 0) && (this.currentPage -1 + i  < this.countPage) )
                        
                        if (this.dots) {
                            if ( ((this.max/2 - i  -1> 0) && (1 - this.max/2 - i < 0) ) || ((this.currentPage - this.max/2 < 0)&&(this.currentPage - this.max < 0)&&(this.currentPage -1 + 1 + i - this.max < 0)) || ( ( this.countPage - this.currentPage - this.max/2 < 0)&&(this.max + this.currentPage -1 + i - this.countPage > 0)&&(this.countPage - this.currentPage - this.max < 0) )) {
                                let obj = {};
                                obj.i = i + this.currentPage;
                                array.push(obj);
                                j++;
                            }
                        } else {
                            if ( ((this.max/2 - i -1> 0) && (- this.max/2 - i < 0) ) || ((this.currentPage - this.max/2 < 0)&&(this.currentPage - this.max < 0)&&(this.currentPage -1  + i - this.max < 0)) || ( ( this.countPage - this.currentPage - this.max/2 < 0)&&(this.max + this.currentPage  + i - this.countPage > 0)&&(this.countPage - this.currentPage - this.max < 0) )) {
                                let obj = {};
                                obj.i = i + this.currentPage;
                                array.push(obj);
                                j++;
                            }
                        }
                }
                return array;
            }
        },
        methods: {
        }
    }
</script>
<style lang="sass">
    .t-pagination
        display: flex
        justify-content: center
        &__link
            transition: all .5s
</style>