<template>
    <section class="container">
            <!-- :tag="'nuxt-link'" -->
        <b-button 
            tag="nuxt-link"
            :to="{name: 'blog-create'}"
            type="is-link">
            Написать
        </b-button>
        <div class="columns">
            <div v-for="item in items" :key="item.id" class="column">
                <nuxt-link class="card"
                        :to="{name: 'blog-id', params:{id: item.id}}">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img :src="item.image" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">{{item.name}}</p>
                                <p class="subtitle is-8">{{item.smallContent}}</p>
                            </div>
                        </div>
                         <div class="content">
                            <time class="subtitle is-6">{{item.date}}</time>
                        </div>
                    </div>
                </nuxt-link>
            </div>
        </div>
        <cmp-paginator :countPage="itemsCount" :fl="false" :dots="true"></cmp-paginator>

    </section>
</template>

<script>
import { mapState } from 'vuex'

import Paginator from '~/components/Paginator.vue'
export default {
    components: {
        'cmp-paginator': Paginator
    },
    computed: {
        ...mapState('blog', ['items', 'itemsCount']),
    },
    // middleware: 'blog',
    methods: {
        // toDate(date){
        //     return db.Timestamp.toDate(date);
        // }
    }
}
</script>

<style>

</style>

