<template>
  <div>
    <cmp-header>
    </cmp-header>
    <nuxt/>
    <cmp-modal>
    </cmp-modal>
  </div>
</template>
<script>
  import Header from '../components/Header'
  import Modal from '../components/Modal'
  
import { mapActions } from 'vuex'
  
  export default {
    components: {
      'cmp-header': Header,
      'cmp-modal': Modal
    },
    middleware: 'check-auth',
    created(){
      
    if(!process.server ){
      console.log('created !process.server ');
      this.LoadUser().then(()=>{
          console.log('LoadUser')
      });
    }
      console.log('created');
      
    },
    methods: {
      ...mapActions('user', ['LoadUser'])
    }
  }
</script>

<style lang="sass">
.fade-enter-active, .fade-leave-active 
  transition: all .5s

.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ 
  position: absolute
  opacity: 0
  
// .fade-move 
//   transition: transform .5s

.b-is-full
  width: 100%
.b-is-grow
  flex-grow: 1
.b-dropdown-right
  .dropdown-content, .dropdown-menu
    left: unset
    right: 0

</style>

