<template>
    <div>
        <section class="hero">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        {{item.name}}
                    </h1>
                    <h2 class="subtitle">
                        {{item.smallContent}}
                    </h2>
                </div>
            </div>
        </section>
        <section class="container content">
            {{item.content}}
        </section>
    </div>

</template>

<script>
import { mapState, mapGetters } from 'vuex'
// import {fireDb} from '~assets/firebase.js'

export default {
    components: {
    },
    computed: {
        ...mapState('blog', ['item']),
        
        // ...mapGetters('blog', ['item']),

        // item(){
        //     return this.$store.state.blog.item
        // }
    },
    middleware: 'blog-id'
}
</script>

<style>

</style>

