<template>
    <no-ssr>
        <section class="container">
            <cmp-input-list class="modal-card-body" 
                    v-model="form">
            </cmp-input-list>
            <!-- <wysiwyg v-model="myHTML" /> -->
            
            <!-- <div class="quill-editor" 
                :content="myHTML"
                v-quill:myQuillEditor="editorOption">
                
            </div> -->

            <!-- 
                @change="onEditorChange($event)"
                @blur="onEditorBlur($event)"
                @focus="onEditorFocus($event)"
                @ready="onEditorReady($event)"
                v-quill:myQuillEditor="editorOption" 
            -->

            <!-- <b-field class="file">
                <b-upload v-model="file">
                    <a class="button is-primary">
                        <b-icon icon="upload"></b-icon>
                        <span>Загрузить изображение</span>
                    </a>
                </b-upload>
                <span class="file-name" v-if="file">
                    {{ file.name }}
                </span>
            </b-field> -->
            <footer class="modal-card-foot">
                <b-button 
                        tag="router-link"
                        :to="{name: 'blog'}"
                        type="is-link"
                        outlined>
                    Отмена
                </b-button>
                <b-button type="is-primary" outlined
                        @click="Reset()">
                    Сбросить</b-button>
                <b-button type="is-primary"
                        @click="Send()">
                    Сохранитть</b-button>
            </footer>
        </section>
    </no-ssr>

</template>

<script>
import { mapState, mapActions } from 'vuex'

import InputList from '~/components/InputList'

  // you can also register quill modules in the component
//   import Quill from 'quill'
//   import { someModule } from '../yourModulePath/someQuillModule.js'
//   Quill.register('modules/someModule', someModule)


export default {
    components: {
        'cmp-input-list': InputList
    },
    computed: {
        // ...mapState('blog', ['items']),
      ...mapState('user', ['user'])
    },
    mounted() {
      console.log('app init, my quill insrance object is:', this.myQuillEditor)
      setTimeout(() => {
        this.content = 'i am changed'
      }, 3000)
    },
    middleware: 'blog-create',
    data (){
        return  {
            // myHTML: '<p>I am Example</p>',
            // editorOption: {
            //     // some quill options
            //     modules: {
            //         toolbar: [
            //         ['bold', 'italic', 'underline', 'strike'],
            //         ['blockquote', 'code-block']
            //         ]
            //     }
            // },
            form: [
                {
                    label: 'Заголовок',
                    type: 'text',
                    value: '',
                    name: 'name',
                    message: ''
                },
                {
                    label: 'Краткое опсиание',
                    type: 'textarea',
                    name: 'smallContent',
                    value: '',
                    maxlength: 300,
                    message: '',
                },
                {
                    label: 'Статья',
                    type: 'textarea',
                    name: 'content',
                    value: '',
                    maxlength: 20000,
                    message: '',
                }
            ],
            file: null,
        }
    },
    methods: {
        ...mapActions('blog', ['CreateBlogArticle']),
        Send(){
            let formObj = {};
            this.form.forEach( ( item ) => {
                formObj[item.name] = item.value;
            });
            formObj.date = new Date().toISOString();
            formObj.id = this.user.id
            console.log(formObj);
            this.CreateBlogArticle(formObj).then(()=>{

                console.log(formObj);
                this.$router.push({name: 'blog'})
            });

        },
        Reset(){
            console.log('Reset');
            this.form.forEach( ( item ) => {
                // formObj[item.name] = item.value;
            });
        }
    }
}
</script>

<style lang="sass">
//  .container
//     width: 60%
//     margin: 0 auto
//     padding: 50px 0
.quill-editor
    min-height: 200px
    max-height: 400px
    overflow-y: auto
</style>

