<template>
  <section class="hero">
    <div class="hero-body">
      <app-logo/>
      <h1 class="title">
        nuxt-start
      </h1>
      <h2 class="subtitle">
        Nuxt.js project
      </h2>
    </div>
  </section>
</template>

<script>
import AppLogo from '~/components/AppLogo.vue'

export default {
  components: {
    AppLogo
  }
}
</script>

<style>

</style>

