<template>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Login</p>
        </header>
        <cmp-input-list class="modal-card-body" 
                v-model="form">
        </cmp-input-list>
        <footer class="modal-card-foot">
            <button class="button" type="button" @click="CloseModal()">Close</button>
            <button class="button is-primary" :class="{'is-loading': loading}" @click="Send()">Login</button>
        </footer>
    </div>
</template>

<script>
// import {fireDb} from '~assets/firebase'
import InputList from '~/components/InputList'
import { mapActions } from 'vuex'

// страндартный набор для пресетов инпутов
import { email, pass } from '~/assets/js/formsSets'


export default {
    data (){
        return  {
            loading: false,
            form: [
                {
                    ...email
                },
                {
                    ...pass
                }
            ]
        }
    },
    methods: {
        ...mapActions('modal', ['CloseModal']),
        ...mapActions('user', ['LoginUserByEmail']),
        Send(){
            // let fd = new FormData();
            // form.forEach(item=>{
            //     fd.append(item.name, item.value)
            // })
            this.loading = true;
            this.LoginUserByEmail({email: this.form[0].value, password: this.form[1].value})
                .then(()=>{
                    this.loading = false;
                    this.CloseModal();
                }, ()=>{
                    this.loading = false;
                    this.CloseModal();
                });
        }
    },
    components: {
        'cmp-input-list': InputList
    }
}
</script>
<style lang="sass">
.modal-card
    width: auto
    max-width: 420px
</style>


