<template>
    <section class="container">
        <div class="columns">
            <div class="column is-4 ">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <b-button type="is-primary" class="is-fullwidth">
                                    Редактировать 
                                </b-button>
                            </div>
                            <div class="media-right">
                                <b-dropdown hoverable aria-role="list" class="b-dropdown-right">
                                    <button class="button" slot="trigger">
                                        <b-icon icon="dots-horizontal"></b-icon>
                                    </button>
                                    
                                    <b-dropdown-item aria-role="listitem">Action</b-dropdown-item>
                                    <b-dropdown-item aria-role="listitem">Another action</b-dropdown-item>
                                    <b-dropdown-item aria-role="listitem">Something else</b-dropdown-item>
                
                                </b-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <h1 class="title">
                    Name suname other
                </h1>
                <h2 class="subtitle">
                    A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading
                </h2>
            </div>
        </div>
    </section>
</template>

<script>
// import { mapState, mapGetters } from 'vuex'
// import {fireDb} from '~/plugins/firebase.js'

export default {
    components: {
    },
    computed: {
        // ...mapState('blog', ['item']),
        
        // ...mapGetters('blog', ['item']),

        // item(){
        //     return this.$store.state.blog.item
        // }
    },
    // middleware: 'blog-id'
}
</script>

<style>

</style>

